.custom-container2 {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-button{
    background-color: #7A7777;
    color: white;
}

.custom-button:hover{
    background-color: #0057FF;
}