/*.logo{
    width: 150px;
    height: 60px;

}*/

/* mainNavigation.css */

/* Estilo para NavLinks */
.NavLink:hover {
    color: blue; /* Cor azul ao passar o mouse */
  }
  
 
.NavbarBrand:hover {
    color: blue; /* Cor azul ao passar o mouse */
}
  